<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}" type="text/css">

        <title>MMT Wavefront Sensor System</title>
    </head>

    <body>
        <h1 class="text-center">MMT Wavefront Sensor System</h1>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#select"
                    aria-controls="select" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="select">
                <ul class="navbar-nav">
                {% for w in sorted(wfslist.keys()) %}
                    <li class="nav-item"><a class="nav-link" href="/wfspage?wfs={{ w }}">{{ wfslist[w] }}</a></li>
                {% end %}
                    <li class="nav-item"><a class="nav-link" href="http://hacksaw.mmto.org:8081">Binospec CWFS</a></li>
                </ul>
            </div>
        </nav>
        <script src="{{ static_url("js/bootstrap.bundle.min.js") }}"></script>
        <script src="/mpl.js"></script>
    </body>
</html>
